<!-- src/app/app.component.html -->

<!-- Display book list -->

<div *ngIf="books.length > 0; else noBooks">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Define columns -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">Title</th>
      <td mat-cell *matCellDef="let book" [ngClass]="'customWidthClass'">{{ book.title }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">Genre</th>
      <td mat-cell *matCellDef="let book" [ngClass]="'customWidthClass'">{{ book.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customWidthClass'">Author</th>
      <td mat-cell *matCellDef="let book" [ngClass]="'customWidthClass'">{{ book.author }} &nbsp;
        <button *ngIf="isLoggedIn" (click)="deleteBook(book._id)">Delete</button>
        &nbsp;&nbsp;<button *ngIf="isLoggedIn" (click)="editBook(book)">Edit</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" showFirstLastButtons [length]="dataSource.data.length"></mat-paginator>

</div>
<ng-template #noBooks>
  <p>No books stored in the DB</p>
</ng-template>

<div *ngIf="!isLoggedIn; else loginTemplate">

  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Login</button>
  </form>
</div>

<ng-template #loginTemplate>
  <!-- Display Add Book form if logged in -->

  <div *ngIf="isLoggedIn">
    <h2>{{ editingBook._id ? 'Edit' : 'Add New' }} Book</h2>

    <form (ngSubmit)="addBook()">
      <label for="newBookTitle">Title:</label>
      <input type="text" id="newBookTitle" name="newBookTitle" [(ngModel)]="editingBook.title" required>
      &nbsp;
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre" [(ngModel)]="editingBook.genre" required>
      &nbsp;
      <label for="newBookAuthor">Author:</label>
      <input type="text" id="newBookAuthor" name="newBookAuthor" [(ngModel)]="editingBook.author" required>
      &nbsp;
      <button type="submit">{{ editingBook._id ? 'Update' : 'Add' }} Book</button>
    </form>
  </div>
</ng-template>
